<div id="memo-container">
    <template>
        <div class="wraper">
          <div class="head-text">New memo</div>
          <div class="chat-box">
            <div class="desc-text">Text</div>
            <form action="#">
              <div class="field textarea">
                <textarea cols="20" rows="10"></textarea>
                </div>
                <div class="field">
                  <p>Prilozit obrazok</p>
                  <button>prilepit</button>
                </div>
                 
              </div>
              <div class="field">
                <button type="submit">Zrusit</button>
                <button type="submit">Potvrdit</button>
              </div>

            </form>
          </div>
      
        </div>
        
        
      </template>
</div>